.hometest .testmonialpart img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 40px 10px;
    padding: 15px 15px;
    background-color: #ff6f0f;
}
.hometest .testmonialpart{
    width: 500px;
    text-align: center;
    height: 60vh;
}
.hometest{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.hometest .testmonialpart i{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #ff6f0f;
    padding: 10px 10px;
}
.hometest .testmonialpart .testcontent{
    background-color: #ff6f0f;
}
.hometest .testmonialpart .testcontent p{
    padding: 10px 10px;
    font-size: 16px;
    margin: 10px;
    font-weight: 500;
}
.hometest .testmonialpart .testcontent h1{
    padding: 10px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
}
.hometest .testmonialpart .testcontent h4{
    padding: 10px 10px;
    margin: 10px;
    font-size: 17px;
    font-weight: 600;
}

