.hometestsec .hometesthead1 h4{
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    width: 150px;
    color: #ff6f0f;
    text-align: center;
    background-color: #ff6f0f33;
}
.hometestsec .hometesthead .hometesthead1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hometestsec .hometesthead h1{
    padding: 15px 0;
    font-size: 45px;
    font-weight: 800;
}
.hometestsec .hometesthead{
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
}